/* Divider vertical */
.vertical-divider {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.container > div:last-child .vertical-divider {
  display: none;
}
