.vertical-divider {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 1px; /* Độ dày của đường kẻ */
    background-color: rgba(0, 0, 0, 0.1); /* Màu sắc và độ mờ */
  }
  
  .container > div:last-child .vertical-divider {
    display: none; /* Không hiện đường kẻ ở phần tử cuối */
  }

  .course-info {
    position: relative;
    padding-bottom: 50px;
  }
  
  .course-detail {
    background-color: aliceblue;
    position: absolute;
    height: 100px;
    bottom: -40px;
    left: 0;
    right: 0;
  }
  
  