.layout {
  display: flex;
  min-height: 100vh;
}

.sideMenu {

  width: 200px;
  height: 100vh;
  background-color: blue;
  overflow-y: auto;
  /* Độ rộng tùy ý */
  /* Hoặc thêm border, background-color, v.v... nếu cần */
}

/* Nội dung chính (cột 2) */
.content {
  flex: 1;
  background-color: red;

}