.layout {
  display: flex;
  min-height: 100vh;
}

.sideMenu {
  padding-top: 50px;
  width: 200px;
  overflow-y: auto;
  background-color: 'blue';
}

/* Nội dung chính (cột 2) */
.content {
  flex: 1;
  // background-color: red;
}
